* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background-color: rgb(134, 187, 248);
}

.snare-pad {
    background-color: rgb(248, 221, 134);
}

.hihat-pad {
    background-color: rgb(134, 248, 159);
}

.kick-pad.active {
    background-color: rgb(63, 111, 167);
}

.snare-pad.active {
    background-color: rgb(167, 148, 63);
}

.hihat-pad.active {
    background-color: rgb(63, 167, 86);
}

.hihat-track,
.snare-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background-color: rgb(90, 90, 90);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(90, 90, 90);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 7rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.mute.active {
    background-color: rgb(180, 180, 180);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(88, 88, 88);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

.emir {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
}


@keyframes playTrack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}